#thumb{
  fill:blue;
  height:150px;
  width:150px;

}
#thumb:hover{
  animation: shake 0.25s ease alternate infinite;
}

code{
  display:block;
  font-size:12px;
}

.box{
  height:50px;
  width:50px;
  background:black;
}

.box2{
  height:50px;
  width:50px;
  background:red;
}
